{% extends "layout.html" %}


{% block body %}
<form method="POST" action="{{ url_for('shopping_add') }}">
  {{ form.name.label }}<br>
  {{ form.name }}<br>

  <ul>
    {% for error in form.name.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <br>
  {{ form.quantity.label }}<br>
  {{ form.quantity }}<br>
  <ul>
    {% for error in form.quantity.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <br>
  <input type="submit" value="Add item to shopping list" />
</form>
{% endblock %}